@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.wrap .start .start__register .start__form .start__submit, .wrap .start .start__first .start__btn {
  max-width: min(100%, 300px);
  background: #041420;
  color: #EFEFEF;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #EFEFEF;
  transition: transform 0.3s, box-shadow 0.3s;
  -webkit-transition: transform 0.3s, box-shadow 0.3s;
  -moz-transition: transform 0.3s, box-shadow 0.3s;
  -ms-transition: transform 0.3s, box-shadow 0.3s;
  -o-transition: transform 0.3s, box-shadow 0.3s;
}
.wrap .start .start__register .start__form .start__submit:hover, .wrap .start .start__first .start__btn:hover {
  box-shadow: 0 0 25px rgba(4, 20, 32, 0.2745098039);
  transform: scale(101%);
  -webkit-transform: scale(101%);
  -moz-transform: scale(101%);
  -ms-transform: scale(101%);
  -o-transform: scale(101%);
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.238);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(108, 85, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(217, 217, 217);
}

.wrap {
  width: 100%;
  height: 100vh;
  background: #D6E4E5 url("../images/background.svg") center center;
  background-attachment: fixed;
  background-size: auto 100%;
}
.wrap .start {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #EFEFEF;
  padding: 25px;
  overflow: auto;
}
.wrap .start .start__first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.wrap .start .start__first .start__picture img {
  height: 150px;
  width: 150px;
  user-select: none;
  object-fit: contain;
}
.wrap .start .start__first .start__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.wrap .start .start__first .start__text-group .start__headline {
  font-weight: 800;
  font-size: 35px;
  text-align: center;
  color: #EB6440;
}
.wrap .start .start__first .start__text-group .start__text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #141414;
}
.wrap .start .start__first .start__btn-place {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 200px;
  row-gap: 25px;
  flex-wrap: wrap;
}
.wrap .start .start__first .start__btn {
  padding: 20px 100px;
}
.wrap .start .start__register {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.wrap .start .start__register .start__picture img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.wrap .start .start__register .start__headline {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #EB6440;
  margin-bottom: 35px;
}
.wrap .start .start__register .start__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 max(20vw, 50px);
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrap .start .start__register .start__form .start__input {
  width: 350px;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1254901961);
  background: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrap .start .start__register .start__form .start__status {
  font-size: 16px;
  font-weight: 300;
  color: #141414;
  display: none;
}
.wrap .start .start__register .start__form .start__submit {
  padding: 20px 50px;
}
.wrap .header {
  width: calc(100% - 75px);
  height: 100px;
  background: #205375;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3137254902);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 25px;
  gap: 25px;
  color: #EFEFEF;
}
.wrap .header .header__logo {
  height: 50px;
  width: 50px;
  user-select: none;
}
.wrap .header .header__logo .header__logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
  background: #ababab;
  color: #121212;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.wrap .header .header__chat-name {
  font-weight: 800;
  font-size: 16px;
}
.wrap .header .onlineBadge {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
}
.wrap .aside {
  height: 100vh;
  width: 75px;
  background: #041420;
  z-index: 50;
  position: fixed;
  padding: 15px;
  display: flex;
  position: relative;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.wrap .aside .aside__footer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.wrap .aside .aside__footer .aside__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  cursor: pointer;
}
.wrap .aside .aside__footer .aside__btn img {
  height: 25px;
  width: 25px;
  object-fit: contain;
  flex-shrink: 0;
}
.wrap .aside .aside__footer .aside__btn .aside__btn-text {
  width: calc(100% - 40px);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #EFEFEF;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap .aside .aside__footer::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  position: absolute;
  top: -25px;
}
.wrap .aside .aside__menu-btn {
  height: 15px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 15px;
  transition: 0.3s;
}
.wrap .aside .aside__menu-btn .aside__menu-btn-element {
  width: 100%;
  height: 2.5px;
  background: #EFEFEF;
  border-radius: 2px;
  transition: 0.3s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.wrap .aside .aside__chats {
  height: calc(100% - 120px);
  width: 100%;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrap .aside .aside__chats .aside__chat-item {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.wrap .aside .aside__chats .aside__chat-item .aside__chat-text {
  width: calc(100% - 75px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap .aside .aside__chats .aside__chat-item .aside__chat-text .aside__chat-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #EFEFEF;
}
.wrap .aside .aside__chats .aside__chat-item .aside__chat-text .aside__chat-last-message {
  height: 18px;
  max-width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.3);
}
.wrap .aside .aside__chats .aside__chat-item .aside__chat-avatar {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  transition: 0.3s;
}
.wrap .aside .aside__chats .aside__chat-item .aside__chat-avatar .aside__avatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.wrap .aside .aside__chats .aside__chat-item .aside__chat-avatar .header__logo-img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  font-size: 10px;
  font-weight: 700;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  user-select: none;
}
.wrap .aside[data-burger-state=close] {
  width: min(300px, 100%);
  padding: 25px;
  align-items: flex-start;
  gap: 35px;
}
.wrap .aside[data-burger-state=close] .aside__menu-btn {
  margin: 0;
  justify-content: center;
}
.wrap .aside[data-burger-state=close] .aside__menu-btn .aside__menu-btn-element:nth-child(1) {
  transform: rotate(45deg) translateY(3px);
  -webkit-transform: rotate(45deg) translateY(3px);
  -moz-transform: rotate(45deg) translateY(3px);
  -ms-transform: rotate(45deg) translateY(3px);
  -o-transform: rotate(45deg) translateY(3px);
}
.wrap .aside[data-burger-state=close] .aside__menu-btn .aside__menu-btn-element:nth-child(2) {
  opacity: 0;
}
.wrap .aside[data-burger-state=close] .aside__menu-btn .aside__menu-btn-element:nth-child(3) {
  transform: rotate(-45deg) translateY(-4px);
  -webkit-transform: rotate(-45deg) translateY(-4px);
  -moz-transform: rotate(-45deg) translateY(-4px);
  -ms-transform: rotate(-45deg) translateY(-4px);
  -o-transform: rotate(-45deg) translateY(-4px);
}
.wrap .aside[data-burger-state=close] .aside__footer .aside__btn {
  justify-content: flex-start;
}
.wrap .aside[data-burger-state=close] .aside__chats {
  gap: 35px;
}
.wrap .aside[data-burger-state=close] .aside__chats .aside__chat-item {
  justify-content: flex-start;
}
.wrap .aside[data-burger-state=close] .aside__chats .aside__chat-item .aside__chat-text {
  display: flex;
}
.wrap .aside[data-burger-state=close] .aside__chats .aside__chat-item .aside__chat-avatar {
  height: 50px;
  width: 50px;
}
.wrap .aside[data-burger-state=close] .aside__chats .aside__chat-item .aside__chat-avatar .header__logo-img {
  flex-shrink: 0;
  font-size: 15px;
}
.wrap .aside[data-burger-state=close] .aside__btn .aside__btn-text {
  display: block;
}

.messages {
  height: calc(100vh - 200px);
  width: calc(100% - 75px);
  padding: 25px;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: absolute;
  top: 100px;
}
.messages .messages__item {
  width: 100%;
  height: auto;
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}
.messages .messages__item .message__avatar {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.messages .messages__item .message__text {
  width: min(450px, 100%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px 0 10px 10px;
  background: #EFEFEF;
  position: relative;
}
.messages .messages__item .message__text .message__name {
  font-size: 12px;
  font-weight: 500;
}
.messages .messages__item .message__text .message__message {
  width: 100%;
  white-space: break-spaces;
  overflow-wrap: break-word;
  word-break: break-all;
  display: block;
}

.form {
  width: calc(100% - 75px);
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EFEFEF;
  padding: 25px;
}
.form .form__emoji {
  position: fixed;
  height: min(250px, 90%);
  width: min(350px, 90%);
  background: #EFEFEF;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3137254902);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form .form__emoji .form__headline {
  font-weight: 400;
  font-size: 14px;
  color: #EB6440;
}
.form .form__emoji .form__emoji-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 20px;
  overflow: auto;
}
.form .form__emoji .form__emoji-container .form__emoji-item {
  cursor: pointer;
  transition: transform 0.3s;
  user-select: none;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.form .form__emoji .form__emoji-container .form__emoji-item:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
.form .form__emoji .form__emoji-container .form__emoji-item:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.form .form__input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background: #EFEFEF;
}
.form .form__buttons {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-shrink: 0;
}
.form .form__buttons .form__buttons-item {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form .form__buttons .form__buttons-item_emoji {
  background-image: url("../images/emoji.svg");
}
.form .form__buttons .form__buttons-item_send {
  background-image: url("../images/send.svg");
}

@media screen and (max-width: 800px) {
  .wrap .header {
    padding: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
